// Pre-state grayscale colors used in other variables

$gray-800: #46494C;

// Override Bootstrap color system

$orange: #274C77;

// Override Bootstrap default state colors

$primary: $orange;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
